<div class="container-fluid video_main">
    <video [autoplay]="true" [loop]="true" [muted]="true" [playsInline]="true" class="back_video">
      <source src="/assets/videos/main_video.mp4" type="video/mp4">
    </video>
    <div class="container">
      <h1 class="h1 text-center title_site">Games Library</h1>
      <h3 class="h3 text-center sub_title_site">Fernando's Games Library</h3>
      <div class="d-grid gap-2 col-6 mx-auto mt-3">
        <button class="btn btn-lg btn_enter" type="button" routerLink="/game_hub">ENTER</button>
      </div>
    </div>
  </div>